.main{
  padding: 20px;
  width: 40%;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}
button{
  background-color: #230052;
  padding: 8px;
  border-color: #230052;
  border-radius: 8px;
  color: white;
}
p{
  text-align: center;
}
